@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --color-fd-primary: hsl(205, 100%, 70%);
  --color-fd-primary-foreground: hsl(0, 0%, 9%);
  --color-fd-ring: hsl(205, 100%, 70%);
}

.prose > :not(:first-child) {
  margin-top: 1.5em;
}

#nd-sidebar {
  @apply md:border-0!;
}

#nd-page {
  max-width: 1050px;
}

#nd-page > .prose + * {
  margin-top: 2rem;
}
